## Build
[Bb]in/
[Oo]bj/
artifacts/
[Bb]uild[Ll]og.*
*.log

## IDE
.vs/
.idea/
.vscode/
*.sln.iml
*.DotSettings.user
*.user
*.suo
.config/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## Rider/Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

## Avalonia / frontend
node_modules/

## Local config & secrets
appsettings.*.local.json
secrets.json
*.pfx
*.key

## OS
.DS_Store
Thumbs.db